body {
    font-family: 'Segoe UI', sans-serif;
    background: #2ec253;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .don-container {
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
  }
  .sdk {
    display: block;
    position: absolute;
    background-position: center;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.sdk .ml-auto{
        display: none !important;
        }
  h1 {
    color: #333;
    margin-bottom: 20px;
  }

  p {
    color: #666;
    margin-bottom: 30px;
  }

  .btn-don {
    background: #28a745;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .btn-don:hover {
    background: #218838;
  }

  .footer {
    margin-top: 30px;
    font-size: 14px;
    color: #aaa;
  }